// ****** FOOTER ****** 

footer{
    padding-top: 70px;
    color: white;
    background: $maincolor;
}

.courses-list a{
    color: white;
}

.footer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-column{
    max-width: 25%;
    font-size: 1.3rem;
    line-height: 2;
    h4{
        padding: 0;
        margin-top: 0;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 600;
    }
}


.footer-bottom{
    margin-top: 10%;
    padding-bottom: 20px;
}

.footer-bottom nav{
    align-items: center;
}

.footer-bottom nav li{
    text-transform: uppercase;   
}

.footer-bottom nav,
.footer-bottom nav ul{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.footer-bottom ul li{
    display: inline;
    padding: 0px 10px;
}

.footer-bottom li a{
    color: white;
    &:hover{
        color: $highlight;
    }
}


.copyright span{
    color:$highlight;
    margin: 0 0 0 5px;
}

// Font Awesome Before Icons

.genius ul li:before{
    content:"\f00c";
    font-family: FontAwesome;
    display:inline-block;
    margin-right: 10px;
    color: $highlight;
}

.contact-us{
    text-align: left;
}

.hawkins-rel{
    position: relative;
}

.hawkins > li{
    padding-left: 30px;
}

.hawkins::before{
    content:"\f041";
    font-family: FontAwesome;
    margin-right: 20px;
    color: $highlight;
    position: absolute;
    top: 0;
}

.phone::before{
    content:"\f095";
    font-family: FontAwesome;
    margin-right: 20px;
    color: $highlight;
}

.phone::before{
    content:"\f095";
    font-family: FontAwesome;
    margin-right: 20px;
    color: $highlight;
}

.mail::before{
    content:"\f0e0";
    font-family: FontAwesome;
    margin-right: 20px;
    color: $highlight;
}

// Form Input

form{
    display: block;
    input[type=text]{
        border:0;
        padding: 10px 20px;
        border-radius: 5px 5px;
        height: 40px;
    }
    button{
        padding: 10px 20px;
        font-size: 1.8rem;
        border-radius: 5px 5px 5px 5px;
        margin-left: 10px;
        height: 40px;
        position: relative;
        top: 2px;
        .fa-paper-plane{
            font-size: 1.2rem;
        }
    }
}

.newsletters .social-links{
    font-size: 2.5rem;
    a{
        margin: 0 5px;
    }
}

.social-links i{
    transition: all ease-in .2s;
}
.social-links i:hover{
    transform: scale(1.3);
}

.fa-facebook-official{
    color: #3b5999;
}

.fa-twitter-square{
    color: #00abf1;
}

.fa-google-plus-square{
    color: #e12f2f;    
}

.fa-instagram{
    color: #865045;
}