.gallery{
    background: $primarybackground;
    padding: 100px 0 103px 0;
}

.photo-gallery{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: 80px;
    div{
        flex: 1 0 390px;
        padding-left: 20px;
        margin-bottom: 20px;
        img{
            display: block;
            width: 100%;
            transition: all ease-out .8s;
            &:hover{
                opacity: 0.5;
            }
        }
    }
}