// ****** HEADER SECTION ****** 

.logo-bar{
    background: black;
    color: white;
    .wrapper{
        display: flex;
        justify-content: space-around;
        padding: 20px 0;
        font-size: 12px;
    }
}

.contact,
.genius-logo,
.user-controls{
    display: flex;
    align-items: center;
}

.genius-logo{
    margin-right: 80px;
}

.contact i,
.contact p{
    margin-left: 10px;
}

.contact i,
.main-menu{
    color: $highlight;
}

.user-controls a + a{
    padding-left: 20px;
    border-left: 1px solid white;
}

.user-controls a{
    padding-right: 20px;
    margin: 0;
    color: white;
}

.user-controls a p{
    margin: 0;
}

// Main Navigation

.main-nav{
    border-top: 1px solid black;
}

.main-menu{
    text-align: center;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.3;
    li{
        display: inline-block;
        padding: 20px 15px;
    }
}

// Hero Section

.about{
    margin-bottom: 138px;
}

.hero-section{
    height: 85vh;
    background-image: url("../assets/hero-image-2.png");
    background-position: center;
    // background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 109px;
}

.hero-plate{
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    p{
    color: #242c42;
    line-height: 2;
    margin-bottom: 20px;
    font-size: 18px
}
}

h1{
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0;
    letter-spacing: 5px;
}





