// ****** COURSES SECTION ****** 

// Book Icon

.course__book{
    display: inline;
}

.course__book::before, 
.course__book::after{
    content: "";
    border: 1px solid $highlight;
    width: 25px;
    display: inline-block;
    margin-bottom: 15px;
}

.course__book::before{
    margin-right: 10px;
}

.course__book::after{
    margin-left: 10px;
}

// Course Nav

.course-nav{
    display: flex;
    justify-content: center;
    margin: 50px 0;
    li{
        display: inline-block;
        padding: 0 10px;
        margin: 0;
        a:hover{
            color: $highlight;
        }
    }
}

// ****** GALLERY SECTION 8 UP ****** 

.course-gallery{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; 
    margin-bottom: 103px;
}

.gallery-item{
    flex-basis: 270px;
    margin: 10px 10px;
        img{
            display: block;
            width: 100%;
        }
}

.caption{
    border: 1px solid lightgrey;
    padding: 0;
    h4{
        min-height: 45px;
        padding: 0 15px 0 15px;
    }
}

.client-profile{
    display: flex;
    padding: 0 15px 20px 15px;
    border-bottom: 1px solid lightgrey;
}

.circle{
    width: 42px;
    height: 42px;
    background: #b7b7b7;
    border-radius: 50%;
}

.client-name p{
    padding: 0;
    margin: 0 10px;
    color: #222;
}

// Client Name
.client-name p:first-child{
    font-size: 18px;
    font-weight: 400;
    color: $secondarycolor;        
}

// View Profile
.client-name p:nth-child(2){
    color: $highlight;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    padding-top: 5px;
}

.caption .comment-links{
    padding: 0 15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.comment-links,
.comment-data{
    display: flex;
    align-items: center;
    color: $secondarycolor;
}

.comment-data p,
.comment-data i{
    margin: 0 2px;
    padding: 10px 0;
    align-items: center;
}

.comment-data p:first-of-type{
    margin-right: 10px;
}

.free{
    color: $highlight;
}



// ****** GALLERY SECTION 6 UP ****** 

.gallery{
    background: $primarybackground;
    padding: 100px 0 103px 0;
}

.photo-gallery{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: 80px;
    div{
        flex: 1 0 390px;
        padding-left: 20px;
        margin-bottom: 20px;
        img{
            display: block;
            width: 100%;
        &:hover{
            border: 1px solid red;
        }
        }
    }
}

// ****** NEWS SECTION ****** 


.news{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    margin-bottom: 99px;
    padding-top: 107px;
}

article{
    display: flex;
    background: $primarybackground;
    margin-top: 100px;
}

article:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

.article__photo{
    width: 50%;
    position: relative;
    bottom: 30px;
    left: 30px; 
    margin-right: 3%;
    img{
        width: 100%;
    }  
}

.article__text{
    width: 50%;
    margin: 0 auto;
    float: right;
    padding-top: 50px; 
    h4{
        font-size: 24px;
    }
}

.news-sub{
    padding: 20px;
    height: 100%;
    h4{
    margin: 0 0 20px 0;
    }
}

.admin{
    display: flex;
    p{
    padding: 0;
    }
}

.admin p:first-child{
    padding-right: 10px;
    border-right: 1px solid black;
}

.admin p:nth-child(2){
    padding-left: 10px;
}

.description{
    font-size: 14px;
    line-height: 1.6;
    color: $secondarycolor;
    margin-bottom: 56px;
}

// ****** ABOUT SECTION ****** 

.about{
    background: $primarybackground;
    padding: 93px 0 120px 0;
}


.feature-container{
    display: flex;
    font-size: 14px;
    line-height: 1.5;
    justify-content: space-around;
}

.features{
    padding: 23px 0;
    max-width: 263px;
    position: relative;
    z-index: 1;
}

.icon{
    position: absolute;
    left: -40px;
    top: 50px;
}

.circle-lg{
    width: 207px;
    height: 207px;
    background: #fafbfd;
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    top: 10px;
    left: -60px;
}

.features{
    width: 70%;
}

// ****** PRICING SECTION ****** 

.pricing{
    margin-bottom: 111px;
}


.trial-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
    text-align: center;
    .trial{
        height: 594px;
        flex-basis: 32%;
        position: relative;
        background: $primarybackground;
        padding: 50px 10px;
        .trial__list{
            background: white;
            height: 385px;
            padding: 20px 0;
            line-height: 3;
            font-size: 15px;
        }
    }
}

.trial{
    .choose-plan{
        text-transform: uppercase;
        font-weight: 600;
    }
    h4{
        text-transform: uppercase;
        font-size: 24px;
        margin-bottom: 0;
    }
}

.trial:hover .circle-price{
    background: $highlight;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
    top: -80px;
}

.trial:hover{
    background: $highlight;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
}

.circle-price{
    height: 120px;
    width: 120px;
    border: 10px solid white;
    border-radius: 50%;
    background: $primarybackground;
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translate(-50%, 0);
}

.sale{
    font-size: 38px;
    font-weight: 700;
    position: relative;
    top: -15px;
    span{
        font-size: 18px;
        position: relative;
        bottom: 16px;
    }
}


