$primarybackground: #f0f2f7;
$maincolor: #222222;
$secondarycolor: #444;
$highlight: #85bb42;
$basefont:'Raleway', sans-serif;


html{
   font-size: 10px; 
}

body{
    font-family: $basefont;
    margin: 0;
    padding: 0;  
}

.wrapper{
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: $maincolor;
    transition: all ease-out .5s;
    &:hover{
        color: $highlight;
    }
}

img{
    max-width: 100%;
}


h4{
    font-size: 1.8rem;
    font-weight: 700;
}

// Subtitle Plate

.subtitle-plate{
    text-align: center;
    text-transform: uppercase;
    h3{
        font-weight: 400;
        font-size: 1.7rem;
    }
    h2{
        margin: 20px 0;
        font-size: 35px;
    }
}

// General Button Styles

button{
   border: 0;
   background: $highlight;
   text-transform: uppercase;
   letter-spacing: 1px;
   padding: 15px 30px;
   color:#fff;
   font-weight: 500; 
   transition: all .5s;
}

button:hover{
    transform: scale(1.1);
}

@import "components/setup";
@import "components/header";
@import "components/courses";
@import "components/gallery-8up";
@import "components/gallery-6up";
@import "components/news";
@import "components/about";
@import "components/pricing";
@import "components/footer";
@import "components/responsive";


