html {
  font-size: 10px; }

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0; }

.wrapper {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: #222222;
  -webkit-transition: all ease-out .5s;
  -o-transition: all ease-out .5s;
  transition: all ease-out .5s; }
  a:hover {
    color: #85bb42; }

img {
  max-width: 100%; }

h4 {
  font-size: 1.8rem;
  font-weight: 700; }

.subtitle-plate {
  text-align: center;
  text-transform: uppercase; }
  .subtitle-plate h3 {
    font-weight: 400;
    font-size: 1.7rem; }
  .subtitle-plate h2 {
    margin: 20px 0;
    font-size: 35px; }

button {
  border: 0;
  background: #85bb42;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 15px 30px;
  color: #fff;
  font-weight: 500;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }

button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.logo-bar {
  background: black;
  color: white; }
  .logo-bar .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 20px 0;
    font-size: 1.2rem; }

.contact,
.genius-logo,
.user-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.genius-logo {
  margin-right: 80px; }

.contact i,
.contact p {
  margin-left: 10px; }

.contact i,
.main-menu {
  color: #85bb42; }

.user-controls a + a {
  padding-left: 20px;
  border-left: 1px solid white; }

.user-controls a {
  padding-right: 20px;
  margin: 0;
  color: white;
  -webkit-transition: all ease-out .5s;
  -o-transition: all ease-out .5s;
  transition: all ease-out .5s; }

.user-controls a p {
  margin: 0; }

.user-controls a:hover {
  color: grey; }

.main-nav {
  border-top: 1px solid black; }

.main-menu {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1.3; }
  .main-menu li {
    display: inline-block;
    padding: 20px 15px; }

.about {
  margin-bottom: 138px; }

.hero-section {
  height: 85vh;
  background-image: url("../assets/genius-hero-image.jpg");
  background-position: 50% 70%;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 109px;
  position: relative; }

.hero-plate {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px; }
  .hero-plate p {
    color: #242c42;
    line-height: 2;
    margin-bottom: 20px;
    font-size: 1.8rem; }

h1 {
  font-size: 8rem;
  text-transform: uppercase;
  font-weight: 900;
  margin: 0;
  letter-spacing: 5px; }

.course__book {
  display: inline; }

.course__book::before,
.course__book::after {
  content: "";
  border: 1px solid #85bb42;
  width: 25px;
  display: inline-block;
  margin-bottom: 15px; }

.course__book::before {
  margin-right: 10px; }

.course__book::after {
  margin-left: 10px; }

.course-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 50px 0;
  font-size: 1.6rem; }
  .course-nav li {
    display: inline-block;
    padding: 0 20px;
    margin: 0; }

.courses-list a {
  -webkit-transition: all ease-out .5s;
  -o-transition: all ease-out .5s;
  transition: all ease-out .5s; }

.courses-list a:hover {
  color: #85bb42; }

.course-gallery {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 103px; }

.gallery-item {
  -ms-flex-preferred-size: 270px;
  flex-basis: 270px;
  margin: 10px 10px; }
  .gallery-item img {
    display: block;
    width: 100%; }

.caption {
  border: 1px solid lightgrey;
  padding: 0; }
  .caption h4 {
    min-height: 45px;
    padding: 0 15px 0 15px; }

.client-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px 20px 15px;
  border-bottom: 1px solid lightgrey; }

.circle {
  width: 42px;
  height: 42px;
  background: #b7b7b7;
  border-radius: 50%; }

.client-name p {
  padding: 0;
  margin: 0 10px;
  color: #222; }

.client-name p:first-child {
  font-size: 1.8rem;
  font-weight: 400;
  color: #444; }

.client-name p:nth-child(2) {
  color: #85bb42;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 300;
  padding-top: 5px; }

.caption .comment-links {
  padding: 0 15px 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.comment-links,
.comment-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #444; }

.comment-data p,
.comment-data i {
  margin: 0 2px;
  padding: 10px 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.comment-links p {
  font-size: 1.5rem; }

.fa-comments,
.fa-users {
  color: #b7b7b7; }

.comment-data p:first-of-type {
  margin-right: 10px; }

.free {
  color: #85bb42; }

.gallery {
  background: #f0f2f7;
  padding: 100px 0 103px 0; }

.photo-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  margin-top: 80px; }
  .photo-gallery div {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 390px;
    flex: 1 0 390px;
    padding-left: 20px;
    margin-bottom: 20px; }
    .photo-gallery div img {
      display: block;
      width: 100%;
      -webkit-transition: all ease-out .8s;
      -o-transition: all ease-out .8s;
      transition: all ease-out .8s; }
      .photo-gallery div img:hover {
        opacity: 0.5; }

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: space-between;
  -ms-flex-align: space-between;
  align-items: space-between;
  margin-bottom: 99px;
  padding-top: 107px; }

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f0f2f7;
  margin-top: 100px; }

article:hover {
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4); }

.article__photo {
  width: 50%;
  position: relative;
  bottom: 30px;
  left: 30px;
  margin-right: 3%; }
  .article__photo img {
    width: 100%; }

.article__text {
  width: 50%;
  margin: 0 auto;
  float: right;
  padding-top: 50px; }
  .article__text h4 {
    font-size: 2.4rem; }

.news-sub {
  padding: 20px;
  height: 100%; }
  .news-sub h4 {
    margin: 0 0 20px 0; }

.admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .admin p {
    padding: 0; }

.admin p:first-child {
  padding-right: 10px;
  border-right: 1px solid black; }

.admin p:nth-child(2) {
  padding-left: 10px; }

.description {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #444;
  margin-bottom: 56px; }

.about {
  background: #f0f2f7;
  padding: 93px 0 120px 0; }

.feature-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
  line-height: 1.5; }

.features {
  padding: 60px 50px 23px 0;
  margin: 0 40px;
  width: calc(33.33% - 80px);
  position: relative;
  z-index: 1; }
  .features h4 {
    font-size: 2.5rem;
    margin: 0; }

.icon {
  position: absolute;
  left: -60px;
  top: 55px; }

.circle-lg {
  width: 210px;
  height: 210px;
  background: #fafbfd;
  border-radius: 50%;
  z-index: -1;
  position: absolute;
  top: 10px;
  left: -90px; }

.features {
  width: 70%; }

.pricing {
  margin-bottom: 111px; }

.billing {
  font-size: 1.5rem; }

.trial-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 100px;
  text-align: center; }
  .trial-container .trial {
    height: 594px;
    -ms-flex-preferred-size: 32%;
    flex-basis: 32%;
    position: relative;
    background: #f0f2f7;
    padding: 50px 10px; }
    .trial-container .trial .trial__list {
      background: white;
      height: 385px;
      padding: 20px 0;
      line-height: 3;
      font-size: 1.5rem; }

.trial {
  -webkit-transition: all ease-in .4s;
  -o-transition: all ease-in .4s;
  transition: all ease-in .4s; }
  .trial .choose-plan {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem; }
  .trial h4 {
    text-transform: uppercase;
    font-size: 2.4rem;
    margin-bottom: 0; }

.trial:hover .circle-price {
  background: #85bb42;
  -webkit-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
  top: -80px; }

.trial:hover {
  background: #85bb42;
  -webkit-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4); }

.circle-price {
  height: 120px;
  width: 120px;
  border: 10px solid white;
  border-radius: 50%;
  background: #f0f2f7;
  position: absolute;
  top: -70px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-transition: all ease-in .4s;
  -o-transition: all ease-in .4s;
  transition: all ease-in .4s; }

.sale {
  font-size: 3.8rem;
  font-weight: 700;
  position: relative;
  top: -15px; }
  .sale span {
    font-size: 1.8rem;
    position: relative;
    bottom: 16px; }

footer {
  padding-top: 70px;
  color: white;
  background: #222222; }

.courses-list a {
  color: white; }

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.footer-column {
  max-width: 25%;
  font-size: 1.3rem;
  line-height: 2; }
  .footer-column h4 {
    padding: 0;
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600; }

.footer-bottom {
  margin-top: 10%;
  padding-bottom: 20px; }

.footer-bottom nav {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.footer-bottom nav li {
  text-transform: uppercase; }

.footer-bottom nav,
.footer-bottom nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 1.2rem;
  text-transform: capitalize; }

.footer-bottom ul li {
  display: inline;
  padding: 0px 10px; }

.footer-bottom li a {
  color: white; }
  .footer-bottom li a:hover {
    color: #85bb42; }

.copyright span {
  color: #85bb42;
  margin: 0 0 0 5px; }

.genius ul li:before {
  content: "\f00c";
  font-family: FontAwesome;
  display: inline-block;
  margin-right: 10px;
  color: #85bb42; }

.contact-us {
  text-align: left; }

.hawkins-rel {
  position: relative; }

.hawkins > li {
  padding-left: 30px; }

.hawkins::before {
  content: "\f041";
  font-family: FontAwesome;
  margin-right: 20px;
  color: #85bb42;
  position: absolute;
  top: 0; }

.phone::before {
  content: "\f095";
  font-family: FontAwesome;
  margin-right: 20px;
  color: #85bb42; }

.phone::before {
  content: "\f095";
  font-family: FontAwesome;
  margin-right: 20px;
  color: #85bb42; }

.mail::before {
  content: "\f0e0";
  font-family: FontAwesome;
  margin-right: 20px;
  color: #85bb42; }

form {
  display: block; }
  form input[type=text] {
    border: 0;
    padding: 10px 20px;
    border-radius: 5px 5px;
    height: 40px; }
  form button {
    padding: 10px 20px;
    font-size: 1.8rem;
    border-radius: 5px 5px 5px 5px;
    margin-left: 10px;
    height: 40px;
    position: relative;
    top: 2px; }
    form button .fa-paper-plane {
      font-size: 1.2rem; }

.newsletters .social-links {
  font-size: 2.5rem; }
  .newsletters .social-links a {
    margin: 0 5px; }

.social-links i {
  -webkit-transition: all ease-in .2s;
  -o-transition: all ease-in .2s;
  transition: all ease-in .2s; }

.social-links i:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3); }

.fa-facebook-official {
  color: #3b5999; }

.fa-twitter-square {
  color: #00abf1; }

.fa-google-plus-square {
  color: #e12f2f; }

.fa-instagram {
  color: #865045; }

.hamburger {
  height: 40px;
  width: 30px;
  position: relative;
  display: none; }

.hamburger.close .line1 {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 45%; }

.hamburger.close .line2,
.hamburger.close .line3 {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 45%; }

.line {
  background: white;
  height: 2px;
  width: 100%;
  border-radius: 8px;
  position: absolute;
  -webkit-transition: all cubic-bezier(0.36, 0.21, 0.63, 1.53) 0.27s;
  -o-transition: all cubic-bezier(0.36, 0.21, 0.63, 1.53) 0.27s;
  transition: all cubic-bezier(0.36, 0.21, 0.63, 1.53) 0.27s; }

.line1 {
  top: 19%; }

.line2 {
  top: 49%; }

.line3 {
  top: 79%; }

@media (max-width: 1288px) {
  .gallery-item {
    -ms-flex-preferred-size: calc(50% - 20px);
    flex-basis: calc(50% - 20px); }
  .photo-gallery div:nth-child(odd) {
    padding-left: 0; }
  .photo-gallery img {
    height: 100%; } }

@media (max-width: 1246px) {
  .trial-container .trial {
    margin-bottom: 100px; } }

@media (max-width: 1022px) {
  .feature-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .features {
    margin: 20px 30px 20px 80px;
    padding-right: 0; }
    .features .icon {
      left: -40px;
      width: 25px; }
  .circle-lg {
    height: 170px;
    width: 170px;
    top: 10px;
    left: -60px; }
  article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .article__photo {
    max-height: 500px;
    width: 70%; }
  .article__text {
    width: 100%;
    padding: 0; } }

@media (max-width: 940px) {
  h1 {
    font-size: 8vw; } }

@media (max-width: 822px) {
  .trial-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .trial-container .trial {
      min-width: 80%; } }

@media (max-width: 868px) {
  .footer-column {
    max-width: 50%;
    width: 50%;
    margin-top: 8%; }
  .courses-list,
  .newsletters {
    text-align: left; }
  .photo-gallery div:nth-child(even) {
    padding-left: 0; } }

@media (max-width: 768px) {
  .pricing {
    margin: 0; }
  .pricing .wrapper {
    width: 75%; }
    .pricing .wrapper .trial {
      margin-top: 40px; }
  .logo-bar .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .genius-logo {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    padding-left: 50px; }
  .genius-logo {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .contact {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .user-controls {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }
  .show-menu {
    display: none; }
  .main-nav {
    position: fixed;
    z-index: 200000; }
  .logo-bar {
    position: fixed;
    width: 100%;
    z-index: 200000; }
  .main-menu {
    padding: 20px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 130px;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    font-size: 2.4rem; }
    .main-menu li {
      padding: 15px; }
      .main-menu li a {
        color: whitesmoke;
        font-weight: 300;
        letter-spacing: 1.4;
        -webkit-transition: all ease-in .5s;
        -o-transition: all ease-in .5s;
        transition: all ease-in .5s; }
  .main-menu li a:hover {
    color: #85bb42; }
  .hero-section {
    padding-top: 100px; }
  .hamburger {
    display: block;
    position: absolute;
    top: 30px;
    left: 30px; }
  footer {
    padding-top: 20px; }
  .footer-column {
    max-width: 100%;
    margin: 10px 0;
    width: 100%;
    border-top: 1px solid lightgrey;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .courses-list {
    text-align: center; }
  .footer-column h4,
  .footer-column.genius {
    padding-top: 8%;
    margin-bottom: 10px; }
  .newsletters {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 40px; }
  .footer-bottom {
    margin-top: 20px;
    padding-bottom: 10px; } }

@media (max-width: 641px) {
  .course-nav ul {
    text-align: center; }
  .course-nav ul li {
    width: 30%;
    margin-bottom: 15px; } }

@media (max-width: 630px) {
  .gallery-item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; } }

@media (max-width: 480px) {
  .logo-bar .wrapper {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .hero-section {
    height: 70vh; }
  .hero-plate p {
    font-size: 1.4rem; }
  .footer-bottom nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .copyright {
    margin-top: 20px; }
  .photo-gallery div {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto; } }
